a{
    text-decoration: none;
    color: black;

}
body{
    background-color: #fff7f7;

}
.logo{
    display: flex;

}
#header{
    display: flex;
    justify-content: space-evenly;
}
#header-img{
    width: 20%;
    height: auto;
}
#nav-bar ul{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}